0x00-lockboxes/__pycache__/0-lockboxes.cpython-38.pyc
0x03-sandpiles/0-main.c
0x03-sandpiles/1-main.c
0x04-linked_list_palindrome/0-main.c
.gitignore
0x04-linked_list_palindrome/linked_lists.c
0x04-linked_list_palindrome/palindrome
0x03-sandpiles/0-sandpiles
0x03-sandpiles/test.c
0x07-palindrome_integer/palindrome
0x07-palindrome_integer/0-main.c
0x09-slide_line/0-slide_line
0x09-slide_line/0-main.c
.vscode/settings.json
0x0A-menger/0-main.c
0x0A-menger/0-menger
0x00-rain/__pycache__/0-rain.cpython-38.pyc
0x00-rain/0_main.py
